@import url("https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple");

body {
  margin: 0;
  font-family: "https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple";
}

.App {
  text-align: center;
}

.post{
  background-color: #eee;
  margin: 2rem;
  padding: 1rem;
}

.pagination {
  margin: 1rem auto;
  padding: 1rem;
  list-style: none;
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
  width: 50%;
}

.active{
  border: 1px solid black;
  border-radius: 10%;
  padding: 1rem;
  /* outline: none; */
}
